<% templates.each do |template|   %>
    <%= render template: template %>
<%  end %>

<nav class="navbar navbar-inverse" role="navigation" id="header">
  <div class="navbar-header">
    <a id="toolbox-link" class="btn btn-primary" href="#toolbox-link"></a>
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">SketchUI</a>
  </div>

  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="javascript:void(0)" id="sketches-toggle" data-toggle="dropdown">Sketches <b class="caret"></b></a>
        <ul class="dropdown-menu" id="sketches-dropdown">
        </ul>
      </li>
      <li class="dropdown">
        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Actions <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <!--<li class="divider"></li>-->
          <li><a href="javascript:void(0)" id="save-sketch-link">Save</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Share <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="javascript:void(0)" class="share-link" data-href="<%= @preview_url %>">Preview URL</a></li>
          <li><a href="javascript:void(0)" class="share-link" data-href="<%= @edit_url %>">Edit URL</a></li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="javascript:void(0)" id="clear-sketch-link">Clear Sketch</a></li>
      <li><a href="javascript:void(0)" id="preview-link">Preview</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

<script id='toolbox-template' type='text/ractive'>
    <ul class="toolbox-tab">
        <li><a href="javascript:void(0)" data-id="controls-container">Controls</a></li>
        <li><a href="javascript:void(0)" data-id="properties-container">Properties</a></li>
    </ul>
    <div id="controls-container" class="toolbox-tab-container">
        <div id="category-container">
            <select id="category-list">
                <% CONTROL_CATEGORIES.each do |category| %>
                <option value="<%= category %>"><%= category %></option>
                <% end %>
            </select>
        </div>
        <ul>
          <%= render template: "partials/_links"%>
        </ul>
    </div>
    <div id="properties-container" class="toolbox-tab-container">

    </div>
</script>

<div class="modal fade" id="new-sketch-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="form-group">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <label for="new-sketch-name">Sketch Name: </label>
          <input type="text" class="form-control" id="new-sketch-name" name="new-sketch-name" placeholder="Enter Sketch Name">
        </div>
        <button type="button" class="btn btn-primary" id="create-sketch-link">Create</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="share-url-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="form-group">
          <label for="share-url">Share Url: </label>
          <input type="text" class="form-control" id="share-url" name="share-url">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="clear-sketch-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <p>Are you sure you want to clear contents of this sketch ?</p>
        <button type="button" class="btn btn-primary" id="clear-sketch-modal-submit">Yes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script id='sketches-dropdown-template' type='text/ractive'>
   {{#sketches}}
   <li class="{{#active}}active{{/active}}"><a href="#{{sketch_id}}">{{name}}</a></li>
   {{/sketches}}
  <li><a href="javascript:void(0)" id="new-sketch-link">Add New</a></li>
</script>
